.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.timer{
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 3px black;
    margin: 0px auto;
    border-radius: 70px;
    padding-bottom: 25px;
}

.time{
    font-family: monospace;
    font-size: 3rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.592);
}

.start-button{
    transition-duration: 300ms;
    width: 70px;
    height: 30px;
    background-color: rgb(97, 184, 119);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin:5px;
}
.start-button:hover{
    transition-duration: 300ms;    
    background-color: rgb(76, 145, 93);

}
.stop-button{
    transition-duration: 300ms;
    width: 70px;
    height: 30px;
    background-color: rgb(184, 135, 97);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin:5px;
}
.stop-button:hover{
    transition-duration: 300ms;    
    background-color: rgb(145, 121, 76);

}
.reset-button{
    transition-duration: 300ms;
    width: 70px;
    height: 30px;
    background-color: rgb(97, 168, 184);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin:5px;
}
.reset-button:hover{
    transition-duration: 300ms;    
    background-color: rgb(76, 108, 145);

}